//colores

$white:#ffffff;
$black:#000000;
$sable:#060606;
$charcoal:#2e1503;
$tangerine:#ffaf6d;
$orange:#ffa500;

//typography

$ubuntu: 'Ubuntu', sans-serif;
$poppins:'Poppins', sans-serif ;

//font weight
$regular:400;
$bold:700;

//font sizes

$xxxxx-large:50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//brakpoint media querys

$very-small:320px;
$small:576px;
  $medium: 768px;
  $large: 992px;
  $huge: 1200px;